@import url('./css/themes.css');
@import url('./css/svg.css');
@import url('./css/global.css');
@import url('./css/header.css');
@import url('./css/sidebar.css');
@import url('./css/rightbar.css');
@import url('./css/ui.css');
@import url('./css/tooltip.css');

#uiContainer {
    width: 100vw;
    height: 100vh;
    transform-origin: top left;
    overflow: none;
}